<div class = "title">Calculators!</div>

<!--Pythagorean Theorem-->
<!--a^2 + b^2 = c^2-->

<div class="pythagorean_theorem_calculator">
  <div class="pythagorean_theorem_title">Pythagorean_theorem!</div>

<div class="pythagorean_theorem_inputs_find_c">
    <input id="find_c_a" value="0">a
    <input id="find_c_b" value="0">b
    <button id="find_c">Find C</button>
</div>

  <div id="output_find_c"></div>

<div class="pythagorean_theorem_inputs_find_a">
  <input id="find_a_b" value="0">b
  <input id="find_a_c" value="0">c
  <button id="find_a">Find A</button>
</div>

  <div id="output_find_a"></div>

<div class="pythagorean_theorem_inputs_find_b">
  <input id="find_b_a" value="0">a
  <input id="find_b_c" value="0">c
  <button id="find_b">Find B</button>
</div>

  <div id="output_find_b"></div>

</div>

<!--Prime Calculator-->

    <div class="prime_number_calculator">
        <div class="prime_number_title">Prime Calculator!</div>
        <input id="find_which_number">
        <button id="find_prime_number">Find</button>
        <div id="output_prime_number"></div>
    </div>

<!--Fibonacci Calculator-->

    <div class="fibonacci_calculator">
        <div class="fibonacci_calculator_title">Fibonacci Calculator!</div>
      <input id="find_which_fibonacci_number">
      <button id="find_fibonacci_number">Find</button>
      <div id="output_fibonacci_number"></div>
    </div>